////////////////////////////////////
// LOGO
.logo{
    height: 3.25rem;

    margin-left: 2rem;
}

////////////////////////////////////
// Search
.search {
    // background-color: greenyellow;

    // 让search box 占整个header 的40%
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border:none;

        padding: .7rem 2rem;
        border-radius: 100px;

        // 让输入框占整个search box 的 90%
        width: 90%;
        transition: all .2s;

        // 让icon 移到input的尾部上层
        margin-right: -3.5rem;        

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        // ！！！只在webkit work：chrome & safari， 改变placehoder 
        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }

       

    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}



////////////////////////////////////
// User Navigation
.user-nav {
    //background-color: hotpink;
    display: flex;
    align-items: center; // align items in the cross axis
    align-self: stretch; // override 它parent (header) 的在cross axis 方向 center, 撑满整个height

    // 指user-nav包含的所有一级child： box1-3
    & > * {
        padding: 0 2rem; // top-bottom left-right
        cursor: pointer;
        height: 100%;
    }

    & > *:hover {
        background-color: var(--color-grey-light-3);
    }


    &__icon-box{
        display: flex;
        align-items: center;  
        
        // 这里呼应child__notification的absolute
        position: relative;
    }

    &__icon{
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification{
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        // 有时候用50% 会发现当字很大的时候，它不圆。则可以用个很大值，如 100px
        border-radius: 100px; 
        background-color: var(--color-primary);
        color: #fff;

        // 这里使用absolute position 将notification 移到icon 右上方
        position: absolute; 
        top: 1.5rem;
        right: 1.1rem; 

        // Flexbox 不仅对child element 有效， 对text 也有效果. 这里用来center text
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__user{
        display: flex;
        align-items: center;  
    }

    &__user-photo{
        height: 3.75rem;
        border-radius: 50%;

        margin-right: 1rem;

    }

    &__user-name{

    }
}

////////////////////////////////////
// Side Navigation

.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item {
        position:relative;

        // 除了last child 的所有
        &:not(:last-child) {
            margin-bottom: .5rem;
        }

    }

    // ::before element 初始时候的状态
    &__item::before {
        content: "";
        position:absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        // scale Y 是指element 在Y 方向上scale 
        transform: scaleY(0);
        // transform 开始的地方
        transform-origin: center;
        // transition描述变化如果发生。只针对transform。 transform描述发生什么变化
        // transform 发生，用时.2s, 
        //       width delay .2s 后, 发生， 用时.4s
        transition: transform .2s,
                    width .4s .2s,
                    background-color .1s;
    }

    // item hover 时的 before： 只在hover时出现
    &__item:hover::before,
    // item--active时候和before被hover时候是一样的
    &__item--active::before {
        transform: scaleY(1);
        // 在hover时 width 从3px变到100%
        width: 100%;
    }

    // 在点击的时候背景颜色淡一点
    &__item:active::before {
        background-color: var(--color-primary-light);
    }



    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        // 删除访问过的link的下划线
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 3rem;

        display: flex;
        align-items: center;

        // zindex 只有在说明了position relative 以后才起作用
        position: relative;
        z-index: 2;
        
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        // currentColor 是个变量，指的是使用当前element的color，或者它parent的color
        fill: currentColor;
    }
}

////////////////////////////////////
// Legal content
.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
}

//