.container {
    //当屏幕宽度不够时会自动缩小
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

    //@media only screen and(max-width: 1200px)
    //把max-width 写成一个变量

    @media only screen and(max-width: $break-point-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;

    }
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);

    //Layout children elements
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and(max-width: $break-point-smallest) {
        // 再配合flex wrap，会将search bar 挪到下一行
        flex-wrap: wrap;
        align-content: space-around;
        height: 11rem;
    }

}

.content {
    display: flex;

    @media only screen and(max-width: $break-point-medium) {
        flex-direction: column;

    }

}

.sidebar {
    background-color: var(--color-grey-dark-1);

    // no grow, no shrink, basis 18% of container,如果container shrink 则它才会shrink
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.hotel-view {
    //background-color: orange;

    // grow as much as it can. 由于我们已经固定了side bar 剩余的空间全让hotel view occupay 即可
    flex: 1;

    //height: 80rem;
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    @media only screen and(max-width: $break-point-medium) {
        padding: 3rem;
    }

    @media only screen and(max-width: $break-point-small) {
        flex-direction: column;
    }
}

.description {
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0,0,0, .06);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;

    font-size: 1.4rem;

    @media only screen and(max-width: $break-point-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and(max-width: $break-point-small) {
        margin-right: 0rem;
        margin-bottom: 3rem;
    }

}

.user-reviews{
    //background-color: yellowgreen;
    flex: 1;
    //box-shadow: 0 2rem 5rem rgba(0,0,0, .06);

    font-size: 1.4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

//